.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

.container-wide {
    width: 90%;
    margin-inline: auto;
}

header,
section {
    padding-block: 5%;
}

img.responsive-img {
    width: 100%;
    height: auto;
}

.heading-wrapper {
    margin-bottom: 2rem;
}

.testimonial-wrapper img {
    width: 30%;
}

img.circle {
    border-radius: 50%;
}

footer.page-footer {
    background-color: var(--primary-dark);
    padding-top: 20px;
}

@media (max-width: 480px) {
    footer.page-footer .flexbox {
        column-gap: 4rem;
    }

    footer.page-footer .flexbox .col.s6 {
        flex: 0 0 calc(50% - 2rem) !important;
    }
}

footer.page-footer > .footer-copyright {
    min-height: 56px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

footer.page-footer > .footer-copyright > .container {
    height: 56px;
}

@media (max-width: 480px) {
    footer.page-footer > .footer-copyright > .container {
        font-size: 0.75rem;
    }
}

.price-card-wrapper {
    display: flex;
    column-gap: 1.5rem;
    row-gap: 2rem;
    flex-wrap: wrap;
}

.price-card-wrapper > .col.l4 {
    flex: 0 1 calc(33.333333333% - 1rem);
}

@media (max-width: 480px) {
    .price-card-wrapper > .col.s12 {
        flex: 0 1 100%;
    }
}

.testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
}

@media (max-width: 480px) {
    .testimonial-wrapper {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .testimonial-wrapper::-webkit-scrollbar {
        display: none;
    }
}

.testimonial-wrapper > .col.l4 {
    flex: 0 0 calc(((100% / 12) * 4) - 1rem);
}

@media (max-width: 480px) {
    .testimonial-wrapper > .col.l4 {
        flex: 0 0 100%;
        scroll-snap-align: start;
        scroll-snap-align: center;
    }
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 2rem;
}

@media (max-width: 480px) {
    .services-wrapper {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .services-wrapper::-webkit-scrollbar {
        display: none;
    }
}

.services-wrapper > .col.l4 {
    flex: 0 0 calc(((100% / 12) * 4) - 1rem);
}

@media (max-width: 480px) {
    .services-wrapper > .col.l4 {
        flex: 0 0 90%;
        scroll-snap-align: start;
        scroll-snap-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .hide-on-small-only {
        display: none !important;
    }
}

@media (min-width: 480px) {
    .hide-on-med-and-up {
        display: none !important;
        visibility: hidden;
    }
}

@media (max-width: 480px) {
    .center-on-small-only {
        text-align: center;
    }
}

.index-blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 2rem;
}

@media (max-width: 480px) {
    .index-blog-wrapper {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .index-blog-wrapper::-webkit-scrollbar {
        display: none;
    }
}

.index-blog-wrapper .col.l4 {
    flex: 0 0 calc((100% * 0.3333333333) - 1rem);
}

@media (max-width: 480px) {
    .index-blog-wrapper > .col.s12 {
        flex: 0 0 100%;
        scroll-snap-align: start;
        scroll-snap-align: center;
    }
}

.why-choose-us-wrapper {
    gap: 1rem;
    flex: 0 0 calc(100% * (3 / 12) - (2rem * 3 / 4));
}
